@import url("main.min.css");
@import url("loading.min.css");
@import url("header.min.css");
@import url("footer.min.css");

body {
  background-color: var(--color-white);
  background-color: pink;
}
main{
  min-height: 500px;
}

/* DIGITE SEU CÓDIGO AQUI PARA CRIAR A TELA DE LOGIN */