#footer {
  margin-top: 2rem;
  background-color: var(--color-dark);
  padding: 4rem 0;
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    //border: 1px solid red;
  }
  .footer-box {
    width: calc(100% / 2);
    //border: 1px solid red;
    .footer-limit {
      max-width: 400px;
      width: 400px;
    }
  }
  .box-2,
  .box-4 {
    display: flex;
    justify-content: flex-end;
  }
  .box-1 {
    .logotipo {
      display: flex;
      align-items: center;
      img {
        height: 80px;
        margin-right: 0.5rem;
      }
      span {
        color: var(--color-pastel-yellow);
        font-size: 2rem;
        font-weight: 900;
      }
      @media screen and (max-width: 1000px) {
        img {
          height: 60px;
        }
        span {
          font-size: 1.8rem;
        }
      }
      @media screen and (max-width: 440px) {
        span {
          display: none;
        }
      }
    }
    p {
      color: var(--color-gray1);
      font-size: 1.12rem;
      font-weight: 400;
      line-height: 26px;
      max-width: 400px;
      padding-top: 0.5rem;
    }
    .network {
      padding: 2rem 0;
      ul {
        list-style: none;
        display: flex;

        li a {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1.3rem;
          border-radius: 50%;
          width: 48px;
          height: 48px;
          position: relative;
          overflow: hidden;

          &::before {
            content: "";
            background-color: var(--color-white);
            width: 50px;
            height: 50px;
            position: absolute;
            opacity: 0.1;
          }
        }
      }
    }
  }
  .box-2 {
    span {
      color: var(--color-gray1);
      padding: 2px 10px;
      font-size: 0.625rem;
      font-weight: 700;
      line-height: 15.821px;
      letter-spacing: 1px;
      position: relative;

      &::before {
        content: "GRÁTIS";
        border: 1px solid var(--color-white);
        border-radius: 25px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.1;
      }
    }
    p {
      color: var(--color-white);
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.24px;
      padding: 1rem 0;
    }
    .input {
      width: 100%;
      position: relative;
      background-color: #b3b0b839;
      max-width: 400px;
      display: flex;
      border-radius: 10px;
      padding: 5px 8px;

      input {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.16px;
        background-color: transparent;
        color: var(--color-white);
        border: none;
        outline: none;
        width: 100%;

        &::placeholder {
          color: var(--color-white);
        }
      }
      button {
        padding: 0.8rem 1.5rem;
        border-radius: 10px;
        background: linear-gradient(265deg, #0b1d26 -4.35%, #454652 95.17%);
        border: none;
        color: var(--color-white);
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.16px;
        cursor: pointer;
      }
    }
  }
  .box-3 {
    display: flex;
    align-items: flex-end;
    .box-content {
      display: flex;
      align-items: center;
    }
    .idioma {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 10px 20px;
      width: 190px;
      svg {
        margin-right: 10px;
      }
      select {
        background-color: transparent;
        color: var(--color-white);
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.18px;
        border: none;
        outline: none;

        option {
          background-color: var(--color-dark);
        }
      }
    }
    .texto {
      padding-left: 1.5rem;
      p {
        &:nth-of-type(1) {
          color: var(--color-white);
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.14px;
          padding-bottom: 0.3rem;
          span {
            position: relative;
            visibility: hidden;
            padding: 0 0.5rem;
            &::before {
              content: "";
              position: absolute;
              top: 5px;
              left: 50%;
              transform: translateX(-50%);
              visibility: visible;
              background-color: var(--color-white);
              border-radius: 50%;
              width: 4px;
              height: 4px;
            }
          }
        }
        &:nth-of-type(2),
        &:nth-of-type(2) a {
          color: var(--color-gray1);
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.14px;
        }
      }
    }
  }
  .box-4 {
    ul {
      list-style: none;

      li a {
        color: var(--color-white);
        font-size: 1.375rem;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.22px;
      }
    }
  }
  @media screen and (max-width: 850px) {
    .footer-box {
      width: 100%;
      margin-bottom: 2rem;
      .footer-limit {
        max-width: 100%;
        width: 100%;
      }
    }
    .box-3 {
      order: 4;
      margin-bottom: 3rem;
    }
    .box-4 {
      order: 3;
      margin: 4rem 0;
    }
  }
  @media screen and (max-width: 500px) {
    .box-3 .box-content {
      flex-wrap: wrap;

      .idioma,
      .texto {
        width: 100%;
        margin: 1rem 0;
        text-align: center;
      }
    }
  }
}
