@import url("main.min.css");
@import url("loading.min.css");
@import url("header.min.css");
@import url("footer.min.css");
@import url("acesso.min.css");

body {
  background-color: var(--color-dark);
}

#loginFrame {
  background-color: #ffffff;
  display: flex;
  width: 100vw;
  max-width: 500px;
  height: 529px;
  padding: 6%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  .content {
    width: 100%;
    min-width: 350px;
  }
  #loginCredentials {
    width: 100%;
  }
  h1 {
    font-weight: 600;
    font-size: 25px;
    color: var(--color-black);
    white-space: nowrap;
  }
  h2 {
    margin-bottom: 5px;
    color: var(--gray-gray-700, #2d3748);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    white-space: nowrap;
  }
  input {
    display: flex;
    background-color: var(--blackampwhitewhite);
    width: 100%;
    height: 50px;
    padding: 24px 20px;
    border-radius: 15px;
    overflow: hidden;
    border: var(--inputBorderSize, 1px) var(--inputBorderType, solid) var(--gray-gray-200);
    &:focus {
      outline: 2px solid;
      outline-color: var(--gray-gray-200);
    }
  }
  button {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    border-style: hidden;
    background-color: #fbd784;
    border-radius: 12px;
    width: 100%;
    align-content: center;
    min-width: 300px;
    cursor: pointer;
    &:hover {
      background-color: #fdd068;
    }
    &:active {
      background-color: #e4b854;
    }
  }
  .forgotPasswordText {
    color: var(--gray-gray-400, #a0aec0);
    display: block;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 17px;
    margin-bottom: 16px;
  }
  .inputWrapper {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .buttonText {
    color: #0b1d26;

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
  }
  .signUpText {
    margin-top: 17px;
    color: var(--gray-gray-400);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    .highlight {
      color: var(--color-pastel-yellow);
    }
  }
}
