@import url("main.min.css");
@import url("loading.min.css");
@import url("header.min.css");
@import url("footer.min.css");
@import url("acesso.min.css");

body {
  background-color: var(--color-dark);
}

.credentialFrame {
  width: 500px;
  height: 529px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.credentialFrame .credentialFrame-div {
  position: relative;
  top: 74px;
  left: 75px;
  width: 350px;
  height: 380px;
}

.credentialFrame .credentialFrame-header-wrapper {
  position: absolute;
  top: 0;
  left: 4px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--graygray-700);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
}

.credentialFrame .credentialFrame-email {
  position: absolute;
  top: 66px;
  left: 0;
  width: 352px;
  height: 75px;
}

.credentialFrame input[type="email"] {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  width: 350px !important;
  height: 50px;
  align-items: center;
  padding: 24px 20px;
  background-color: var(--blackampwhitewhite);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--graygray-200);
}

.credentialFrame input[type="password"] {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  width: 350px !important;
  height: 50px;
  align-items: center;
  padding: 24px 20px;
  background-color: var(--blackampwhitewhite);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--graygray-200);
}

.credentialFrame .credentialFrame-password {
  position: absolute;
  top: 160px;
  left: 0;
  width: 352px;
  height: 75px;
}

.credentialFrame .credentialFrame-forgotPassword {
  position: absolute;
  top: 255px;
  left: 208px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--graygray-400);
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
}

.credentialFrame .credentialFrame-input-fieldtext-wrapper {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  width: 350px;
  height: 50px;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--blackampwhitewhite);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--graygray-200);
}

.credentialFrame .credentialFrame-input-fieldtext {
  display: flex;
  flex-direction: column;
  width: 311px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-right: -1px;
  overflow: hidden;
}

.credentialFrame .credentialFrame-text-wrapper {
  position: relative;
  width: 119.5px;
  height: 19.5px;
  margin-top: -0.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--graygray-400);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
}

.credentialFrame .credentialFrame-min-width {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 74px;
  position: relative;
  flex: 0 0 auto;
}

.credentialFrame .credentialFrame-content {
  position: relative;
  width: 1px;
  height: 1px;
  margin-right: -1px;
}

.credentialFrame .credentialFrame-text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--graygray-400);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
}

.credentialFrame .credentialFrame-signup-wrapper {
  position: absolute;
  top: 359px;
  left: 64px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 1.1rem;
  text-align: center;
  justify-self: center;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
}

.credentialFrame .credentialFrame-span {
  color: #a0aec0;
}

.credentialFrame .credentialFrame-signup-highlight {
  color: #fbd784;
}

.credentialFrame .credentialFrame-button-base {
  display: flex;
  width: 350px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  position: absolute;
  top: 293px;
  left: 0;
  border-style: hidden;
  background-color: #fbd784;
  border-radius: 12px;
}

.credentialFrame .credentialFrame-button-base:hover {
  background-color: #fdd068;
}

.credentialFrame .credentialFrame-button-base:active {
  background-color: #e4b854;
}

.credentialFrame .credentialFrame-text {
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #0b1d26;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.credentialFrame .credentialFrame-p {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 35px;
  white-space: nowrap;
}
